@charset "UTF-8";
/*Selector universal*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

/*barra de navegación*/
header {
  background-color: white;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  border-bottom: 2px solid #53b8e7;
  box-shadow: 2px 2px 30px rgb(100, 206, 228);
}
header #logo {
  display: flex;
  text-align: center;
  height: 76px;
}
header #barraDeNavegacion {
  background-color: white !important;
}
header #barraDeNavegacion li {
  padding: 0px 20px;
}
header #barraDeNavegacion li:hover {
  border-bottom: 3.5px solid rgb(69, 108, 144);
}
header #barraDeNavegacion li a {
  text-decoration: none;
  color: rgb(47, 12, 129);
  font-size: 20px;
  font-weight: bold;
}
header #barraDeNavegacion li a:hover {
  color: rgb(223, 62, 210);
}
header #barraDeNavegacion li a:active {
  color: rgb(52, 52, 225);
}

/*Body*/
body {
  background-color: rgba(218, 228, 236, 0.989);
  color: rgb(47, 12, 129);
}

.cuerpo h1 {
  font-weight: 700;
}
.cuerpo h2 {
  font-weight: 600;
}
.cuerpo h3 {
  font-weight: 600;
}

p a {
  text-decoration: none;
  color: rgb(47, 12, 129);
}
p a:hover {
  color: rgb(223, 62, 210);
}
p a:active {
  color: rgb(52, 52, 225);
}

/*GRID*/
.publicacionesGrid {
  margin-top: 90px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "not1 not2 not2 not4" "not1 not3 not3 not4";
  grid-template-columns: 300px auto auto 300px;
  grid-template-rows: 50% 50%;
  gap: 1.6em;
}
.publicacionesGrid .articulo {
  color: black;
  text-decoration: underline;
}
.publicacionesGrid a {
  text-decoration: none;
}
.publicacionesGrid a img {
  border-radius: 5px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}
.publicacionesGrid .publicacionesGridsBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.publicacionesGrid .publicacionesGrid1 {
  grid-area: not1;
  background-color: rgb(179, 225, 253);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  border-radius: 20px;
  border: 2px #53b8e7 solid;
  box-shadow: 0px 15px 25px rgb(100, 206, 228);
}
.publicacionesGrid .publicacionesGrid1 div {
  padding-bottom: 15px;
}
.publicacionesGrid .publicacionesGrid2 {
  grid-area: not2;
  background-color: rgb(179, 225, 253);
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  border-radius: 20px;
  border: 2px #53b8e7 solid;
  box-shadow: 0px 15px 25px rgb(100, 206, 228);
}
.publicacionesGrid .publicacionesGrid2 div {
  padding-bottom: 5px;
}
.publicacionesGrid .publicacionesGrid3 {
  grid-area: not3;
  background-color: rgb(179, 225, 253);
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  border-radius: 20px;
  border: 2px #53b8e7 solid;
  box-shadow: 0px 15px 25px rgb(100, 206, 228);
}
.publicacionesGrid .publicacionesGrid3 div {
  padding-bottom: 5px;
}
.publicacionesGrid .publicacionesGrid4 {
  grid-area: not4;
  background-color: rgb(179, 225, 253);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  border-radius: 20px;
  border: 2px #53b8e7 solid;
  box-shadow: 0px 15px 25px rgb(100, 206, 228);
}
.publicacionesGrid .publicacionesGrid4 div {
  padding-bottom: 15px;
}

.cuerpoPublicacion {
  background-color: white;
}

/*footer*/
#pieDePagina {
  font-size: 10px;
  width: 100%;
  height: 100px;
  background-color: rgb(69, 108, 144);
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

#pieDePagina h2 {
  padding-bottom: 10px;
  font-size: 15px;
}

#pieDePagina p {
  margin-bottom: 0;
}

.cajaFooter1 {
  width: 30%;
}

.cajaFooter2 {
  width: 30%;
}

.cajaFooter3 {
  width: 30%;
}

.cajaFooter3 p a {
  color: white;
}

.cajaFooter3 a:hover {
  color: rgb(223, 62, 210);
}

.botonWhatsapp {
  position: fixed;
  right: 20px;
  bottom: 10px;
}

/*home*/
.principal {
  min-height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.principal .caja {
  max-width: 75%;
  display: flex;
  flex-direction: column;
}
.principal .caja .cajaHome p {
  padding: 5px;
}

/*banner*/
.bannerHome {
  margin-top: 75px;
}
.bannerHome img {
  width: 100%;
  height: 300px;
}

/*banner*/
.bannerServicios {
  margin-top: 75px;
}
.bannerServicios img {
  width: 100%;
  height: 230px;
}

.cajaServicios {
  padding-bottom: 10px;
}

#mapaContenedor {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nosotros {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nosotros .cajaNosotros {
  max-width: 75%;
}

#contacto {
  padding-top: 100px;
  padding-left: 100px;
}
#contacto h1 {
  font-weight: 700;
}
#contacto p {
  font-size: 10px;
}
#contacto .cajaContacto {
  display: flex;
  flex-direction: column;
}
#contacto .cajaContacto .botonContacto {
  padding-bottom: 20px;
}
#contacto .cajaContacto input {
  max-width: 40%;
}

/*Media queries*/
@media screen and (max-width: 769px) {
  .publicacionesGrid {
    margin-top: 100px;
    display: grid;
    grid-template-areas: "not1 not2 not2" "not1 not3 not3" "not4 not4 not4";
    grid-template-columns: 300px auto 200px;
    grid-template-rows: 290px 290px 320px;
  }
  .publicacionesGrid p {
    margin-bottom: 0px;
    font-size: 12px;
  }
  .publicacionesGrid h2 {
    font-size: 18px;
  }
  .publicacionesGrid img {
    height: 170px;
  }
  #mapaContenedor .mapa {
    height: 200px;
    width: 250px;
  }
}
@media screen and (max-width: 376px) {
  .publicacionesGrid {
    margin-top: 100px;
    margin-bottom: 20px;
    display: grid;
    grid-template-areas: "not1" "not2" "not3" "not4";
    grid-template-columns: auto;
    grid-template-rows: 290px 290px 290px 290px;
  }
  .publicacionesGrid img {
    height: 130px;
    width: 160px;
  }
  .publicacionesGrid h2 {
    font-size: 16px;
  }
  .publicacionesGrid p {
    font-size: 10px;
  }
  .publicacionesGrid .publicacionesGrid1 div {
    padding-bottom: 0px;
  }
  .publicacionesGrid .publicacionesGrid2 {
    align-items: center;
  }
  .publicacionesGrid .publicacionesGrid3 {
    align-items: center;
  }
  .publicacionesGrid .publicacionesGrid4 div {
    padding-bottom: 0px;
  }
  .publicacionesGrid .publicacionesGridsBox {
    flex-direction: column;
  }
  #pieDePagina {
    align-items: flex-start;
    height: 120px;
  }
  #pieDePagina h2 {
    font-size: 12px;
  }
  .bannerHome img {
    height: 170px;
  }
  .bannerServicios img {
    height: 170px;
  }
  .principal p {
    font-size: 12px;
    padding: 0px;
  }
  .principal h1 {
    font-size: 20px;
  }
  .principal h2 {
    font-size: 18px;
  }
  .principal h3 {
    font-size: 16px;
  }
  .nosotros p {
    font-size: 12px;
    padding: 0px;
  }
  .nosotros h1 {
    font-size: 20px;
  }
  .nosotros h2 {
    font-size: 18px;
  }
  .nosotros h3 {
    font-size: 16px;
  }
  #contacto {
    padding-left: 20px;
  }
}/*# sourceMappingURL=main.css.map */