/*footer*/
#pieDePagina {
    font-size: 10px;
    width: 100%;
    height: 100px;
    background-color: rgb(69, 108, 144);
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

#pieDePagina h2 {
    padding-bottom: 10px;
    font-size: 15px;
}

#pieDePagina p {
    margin-bottom: 0;
}

.cajaFooter1 {
    width: 30%;
}

.cajaFooter2 {
    width: 30%;
}

.cajaFooter3 {
    width: 30%;
}

.cajaFooter3 p a {
    color: white;
}

.cajaFooter3 a:hover {
    color: rgb(223, 62, 210);
}

.botonWhatsapp {
    position: fixed;
    right: 20px;
    bottom: 10px;
}