/*Media queries*/
@media screen and (max-width: 769px) {

    .publicacionesGrid {
        margin-top: 100px;
        display: grid;
        grid-template-areas:
            "not1 not2 not2"
            "not1 not3 not3"
            "not4 not4 not4";
        grid-template-columns: 300px auto 200px;
        grid-template-rows: 290px 290px 320px;

        p {
            margin-bottom: 0px;
            font-size: 12px;
        }

        h2 {
            font-size: 18px;
        }

        img {
            height: 170px;
        }
    }
}

@media screen and (max-width: 376px) {

    .publicacionesGrid {
        margin-top: 100px;
        margin-bottom: 20px;
        display: grid;
        grid-template-areas:
            "not1"
            "not2"
            "not3"
            "not4";
        grid-template-columns: auto;
        grid-template-rows: 290px 290px 290px 290px;

        img {
            height: 150px;
        }

        h2 {
            font-size: 16px;
        }

        p {
            font-size: 10px;
        }

        .publicacionesGrid1 {
            div {
                padding-bottom: 0px;
            }
        }

        .publicacionesGrid2 {
            align-items: center;

        }

        .publicacionesGrid3 {
            align-items: center;
        }

        .publicacionesGrid4 {
            div {
                padding-bottom: 0px;
            }
        }

        .publicacionesGridsBox {
            flex-direction: column;
        }
    }

    #pieDePagina {
        align-items: flex-start;
        height: 120px;

        h2 {
            font-size: 12px;
        }
    }

    .bannerHome img {
        height: 170px;
    }

    .bannerServicios img {
        height: 170px;
    }

    .principal {
        p {
            font-size: 12px;
            padding: 0px;
        }

        h1 {
            font-size: 20px;
        }

        h2 {
            font-size: 18px;
        }

        h3 {
            font-size: 16px;
        }
    }

    .nosotros {
        p {
            font-size: 12px;
            padding: 0px;
        }

        h1 {
            font-size: 20px;
        }

        h2 {
            font-size: 18px;
        }

        h3 {
            font-size: 16px;
        }
    }

    #mapa {
        iframe {
            width: 50%;
        }
    }

}