/*barra de navegación*/
header {
    background-color: white;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    border-bottom: 2px solid #53b8e7;
    box-shadow: 2px 2px 30px $color-sobra;

    #logo {
        display: flex;
        text-align: center;
        height: 76px;
    }

    #barraDeNavegacion {
        background-color: white !important;

        li {
            padding: 0px 20px;

            &:hover {
                border-bottom: 3.5px solid rgb(69, 108, 144);
            }

            a {
                text-decoration: none;
                color: $color-principal;
                font-size: 20px;
                font-weight: bold;

                &:hover {
                    color: $color-hover;
                }

                &:active {
                    color: $color-active;
                }
            }

        }
    }
}